@tailwind base;
@tailwind components;
@tailwind utilities;
/* Light and dark background */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

button {
  transition: all 0.3s ease;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
